<component name="ArtifactManager">
  <artifact type="exploded-war" name="SpringMVC_Hibernate_CRUD:war exploded2">
    <output-path>$PROJECT_DIR$/out/artifacts/SpringMVC_Hibernate_CRUD_war_exploded2</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="SpringMVC_Hibernate_CRUD" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:5.3.22" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:5.3.22" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:5.3.22" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:5.3.22" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:5.3.22" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jcl:5.3.22" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:5.3.22" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:5.3.22" />
          <element id="library" level="project" name="Maven: org.thymeleaf:thymeleaf-spring5:3.0.14.RELEASE" />
          <element id="library" level="project" name="Maven: org.thymeleaf:thymeleaf:3.0.14.RELEASE" />
          <element id="library" level="project" name="Maven: org.attoparser:attoparser:2.0.5.RELEASE" />
          <element id="library" level="project" name="Maven: org.unbescape:unbescape:1.1.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.25" />
        </element>
      </element>
      <element id="javaee-facet-resources" facet="SpringMVC_Hibernate_CRUD/web/Web" />
    </root>
  </artifact>
</component>